<header class="header_area animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#" style="color: goldenrod">LotiCoin</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div ng-show="login">
    Iniciar sesión
    <input
        ng-model="datosFormulario.username"
        capitalize
        />
    <input
        type="password"
        ng-model="datosFormulario.password"
        capitalize
        />
    <button type="button" class="btn btn-default" ng-click="startSesion()">Iniciar Sesión</button>
    <button type="button" class="btn btn-default" ng-click="verRegistro()">Registrar</button>
</div>
<div ng-show="registrar">
    registrar
    <br>
    Username
    <input
        ng-model="datosFormulario.username"
        capitalize
        />
    <br>
    nombres
    <input
        ng-model="datosFormulario.nombres"
        capitalize
        />
    <br>
    email
    <input
        ng-model="datosFormulario.email"
        type="email"
        />
    <br>
    wallet
    <input
        ng-model="datosFormulario.wallet"

        />
    <br>
    pass
    <input
        ng-model="datosFormulario.password"
        type="password"
        />
    <br>
    pass2
    <input
        ng-model="datosFormulario.password2"
        type="password"
        />
    <br>
    referido
    <input
        ng-model="datosFormulario.userNameReferido"
        capitalize
        />
    <br>
    <button type="button" class="btn btn-default" ng-click="verLogin()">Iniciar Sesión</button>
    <button type="button" class="btn btn-default" ng-click="registerUser()">Registrar</button>
</div>


<h1>Hello, world!</h1>

<i class="fab fa-btc"></i>